.icono {
  width: 20px;
  padding-right: 7px;
  color: #123a80;
}

.logo {
  width: 100px;
}
.ion-buttons {
  position: absolute;
}
.ion-title {
  text-align: center;
}
.estado {
  text-align: center;
  padding: 7px;
  background-color: red;
  border-radius: 15px;
}
