<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-title">
        <img
          src="../../assets/Images/logo-bannet.png"
          alt="Logo"
          class="logo"
        />
      </ion-title>
      <ion-buttons class="ion-buttons" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Medir Velocidad</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Ofrecer servicios de internet de calidad y alta disponibilidad
        proporcionando a nuestros clientes servicios con gran valor a través de
        la aplicación de nueva tecnología y la explotación de variedad de
        recursos disponibles en BANTEL
      </ion-card-content>
    </ion-card>
  </ion-content>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</div>
