<div class="ion-page" id="main-content">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons class="ion-buttons" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-title"
        ><img src="../../assets/Images/logo-bannet.png" alt="Logo" class="logo"
      /></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
     
    </ion-header>

    <ion-card>
      <img
        alt="Silhouette of mountains"
        src="../../assets/Images/bantelo.webp"
      />
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Misión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ofrecer servicios de internet de calidad y alta disponibilidad
      proporcionando a nuestros clientes servicios con gran valor a través de
      la aplicación de nueva tecnología y la explotación de variedad de
      recursos disponibles en BANTEL
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Visión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ser el principal proveedor de servicios de internet en el mercado
      nacional,expandiendo la aceptación de nuestros servicios de internet en
      todos los mercados posibles y de esta manera situarnos como una de las
      empresas con mayor proyección a nivel nacional e internacional
    </ion-card-content>
  </ion-card>
  </ion-content>
</div>
