<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-title">
        <img
          src="../../assets/Images/logo-bannet.png"
          alt="Logo"
          class="logo"
        />
      </ion-title>
      <ion-buttons class="ion-buttons" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-title class="title">Recibo</ion-title>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-title class="subtitle">N° {{id}}</ion-title>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Plan</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{plan}} </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Período</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{periodo}} </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Importe</ion-card-title>
      </ion-card-header>
      <ion-card-content> {{importe}} </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Estado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="estado">Pendiente</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Impresión</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-label class="impresion">RECIBO</ion-label>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Metodos de Pago</ion-card-title>
      </ion-card-header>
      <ion-card-content class="content-logo">
        <a href="https://www.youtube.com/watch?v=3CLjY2EIHAU" class="logo-img">
          <ion-img
            src="../../../../../assets/logos/bcp-logo.png"
            alt="BCP"
          ></ion-img>
        </a>

        <a href="https://www.youtube.com/watch?v=rZGjOml-wA8" class="logo-img">
          <ion-img
            src="../../../../../assets/logos/bbva-logo.png"
            alt="BCP"
          ></ion-img>
        </a>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>
