.icono {
  width: 20px;
  padding-right: 7px;
  color: #123a80;
}

.logo {
  width: 100px;
}
.ion-buttons {
  position: absolute;
}
.ion-title {
  text-align: center;
}
.inputlarge{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  font-size: 11px;
}
.titulo{
  text-align: center;
}
.Button-GuardarCambio {
  width: 100%;
  
}