<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-title">
        <img
          src="../../assets/Images/logo-bannet.png"
          alt="Logo"
          class="logo"
        />
      </ion-title>
      <ion-buttons class="ion-buttons" slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="titulo">Libro de Reclamaciones</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Nombre del Titular:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>DNI/CE del Titular:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Email del Titular:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Departamento:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Teléfono o celular:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Dirección:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item fill="outline">
          <ion-input placeholder="Ingresar"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Tipo:</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Reclamo</ion-label>
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Queja</ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-card-title>Contrato</ion-card-title>
        <ion-select class="selector" placeholder="Seleccionar">
          <ion-select-option
            *ngFor="let result2 of results2"
            value="{{result2.id}}"
          >{{result2.name}}</ion-select-option>
        </ion-select>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-header>
        <ion-card-content>
          Escriba aquí el detalle de su reclamo/queja *
        </ion-card-content>
      </ion-header>
      <ion-card-content>
        <ion-textarea
          class="inputlarge"
          placeholder="Enter text"
        ></ion-textarea>
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
          <ion-button fill="outline">Archivo</ion-button>Ninguno archivo selec.
        </ion-item>
        <ion-item>
          <ion-checkbox slot="start"></ion-checkbox>
          <ion-label>Acepto las politicas de privacidad y terminos y condiciones</ion-label>
        </ion-item>
        <ion-item>
          <ion-button>Enviar</ion-button>
        </ion-item>
    </ion-card>
  </ion-content>

  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</div>
